@model BAL.Users

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Users</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.rowid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rowid)
            @Html.ValidationMessageFor(model => model.rowid)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName,new {style = "display:none;"})
        </div>
        <div class="editor-field" >
            
            @Html.TextBoxFor(model => model.UserName, new { @readonly = "readonly", style = "display:none;" })
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>*@
        @*<div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MailId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MailId)
            @Html.ValidationMessageFor(model => model.MailId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
